body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin-top: auto;
}
/* high scores & timer */
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.scores a {
  color: violet;
  text-decoration: none;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* landing page and buttons */

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 25px;
  background-color: rebeccapurple;
  border-radius: 8px;
  padding: 5px 15px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: violet;
}

.choices button {
  display: block;
}

.container {
  margin: 75px auto 0 auto;
  max-width: 525px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

/* high score page */

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: none;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid rgb(201, 193, 193);
}

.center-button {
  text-align: center;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}
